td {
	width: 4.76%;
}

td:hover {
	background-color: #d8d8d8;
}

.input {
	display: none;
}

th {
	min-width: 100px;
}
th#first-th {
	min-width: 30px;
	width: 30px;
	height: 100%;
}

td.row-index {
	font-weight: bold;
}
