td {
	width: 4.76%;
}

td:hover {
	background-color: #d8d8d8;
}

.input {
	display: none;
}

th {
	min-width: 100px;
	border-color: #cecece;
    background: #f8f8f8;
}
th#first-th {
	min-width: 30px;
	border-color: #cecece;
	background: #f8f8f8;
}

td.row-index {
	min-width: 30px;
	font-weight: bold;
	border-color: #cecece;
    background: #f8f8f8;
}
