<!DOCTYPE html>
<html lang="pl">
<head>
  <title>Arkusz kalkulacyjny</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">

  <script src="script/js/libraries/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
  <script src="script/js/app.js"></script>
  <script src="script/js/controllers/SpreadsheetController.js"></script>
  <script src="script/js/factories/SpreadsheetFactory.js"></script>
</head>
<body>

<div class="container-fluid" ng-app="spreadsheet">
  <div class="row">
    <div class="col-md-12">
    <table class="table-bordered" style="width: 100%;" id="spreadsheet-table" ng-controller="spreadsheetController">
      <thead>
        <tr><th></th><th ng-repeat="column in spreadsheetFactory.columns" ng-bind="column"></th></tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in spreadsheetFactory.rows">
          <td ng-bind="row"></td>
          <td ng-repeat="column in spreadsheetFactory.columns">
            <input class="input" type="text" ng-model="spreadsheetFactory.cells[column+row]" ng-blur="updateCells()"/><div class="output" ng-bind="computeCell(column+row)"></div>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
</div>
<script type="text/javascript" src="script/js/script.js"></script>
</body>
</html>
